.back-button{
    position: sticky;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    button {
        cursor: pointer;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: #97ce4c;
        color: #fff;
        font-size: 14px;
        transition: background-color 0.3s ease;
    
        &:hover {
        background-color: #7bb03d;
        }
    
        &:disabled {
        background-color: #bdc3c7;
        cursor: not-allowed;
        }
    }
    
    span {
        font-size: 16px;
        font-weight: bold;
    }
}