.main {
  padding: 12px;
  height: calc(100vh - 80px);

  h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .locations {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
    overflow-y: auto;
  }

  @media (max-width: 48rem) {
    .locations {
      height: calc(100vh - 160px);
      justify-content: center;
    }
  }
}
