.main {
  padding: 0px 16px;

  h1 {
    font-size: 24px;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  .locations {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
    overflow-y: auto;
  }

  @media (max-width: 48rem) {
    .locations {
      height: calc(100vh - 160px);
      justify-content: center;
    }
  }
}
